<ion-header>
    <ion-toolbar>
        <ion-title [routerLink]="['/config']">Home</ion-title>
        <ion-router-outlet></ion-router-outlet>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button href="/config/AlgunID" fill="outline" color="primary">
        Configurar href
    </ion-button>

    <ion-button [routerLink]="['/config','04asd5']" fill="outline" color="secondary">
        Configurar routerlink
    </ion-button>


    <ion-button (click)="ir()" fill="outline" color="primary">
        Configurar funcion
    </ion-button>

</ion-content>